MAIN_DB_URL=
SHAMIR_DB_1=
SHAMIR_DB_2=
SHAMIR_DB_3=
MAIN_SERVER_PORT=
SHAMIR_SERVER_1_PORT=
SHAMIR_SERVER_2_PORT=
SHAMIR_SERVER_3_PORT=
SHAMIR_1_URL=
SHAMIR_2_URL=
SHAMIR_3_URL=
SHAMIR_1_GET_URL=
SHAMIR_2_GET_URL=
SHAMIR_3_GET_URL=
BOT_TOKEN=
INFERENCE_URL=
MODEL=
#SYSTEM_PROMPT=
QDRANT_DB_API_KEY=
QDRANT_DB_URL=
OPEN_AI_API_KEY=
QDRANT_COLLECTION_NAME=
CREATE_WALLET_TEXT=
EJECT_TEXT=
TOKEN_MINT_TEXT=
TOKEN_MINT_PROMPT=
CREATE_POOL_TEXT=
CREATE_POOL_PROMPT=
SWAP_TEXT=
SWAP_PROMPT=
OPEN_POSITION_PROMPT=
OPEN_POSITION_TEXT=
REMOVE_LIQUIDITY_TEXT=
REMOVE_LIQUIDITY_PROMPT=
FETCH_CHART_TEXT=
LIMIT_ORDER_TEXT=
LIMIT_ORDER_PROMPT=
GET_BALANCE_TEXT=
GET_BALANCE_PROMPT=
MANAGE_POSITION_PROMPT=
MANAGE_POSITION_TEXT=